<div ng-controller="View1Ctrl"  layout-fill style="background-color: #E7E7E7;">
 
<md-toolbar  ng-show="oneSelected" md-theme="cyan" class="md-accent app-toolbar md-cyan-theme md-whiteframe-z2" style="position: fixed; top:0;">
     <h1 class="md-toolbar-tools">
 <md-button class=" md-accent" style="width:54px; height:54px; border-radius: 50%;" aria-label="Назад" ng-click="deselectAll()">
        <md-tooltip>
          Назад
        </md-tooltip>
        <md-icon icon="img/icons/ic_close_24px.svg">
        </md-icon>
      </md-button>

      <span  > Выбранно элементов: {{countSelected}}</span> 
      <div flex> </div>
      <md-button ng-click="archiveAll()"  class="md-accent" style="width:54px; height:54px; border-radius: 50%;" aria-label="В архив">
        <md-tooltip>
          В архив
        </md-tooltip>
        <md-icon icon="img/icons/ic_done_all_24px.svg">
        </md-icon>
      </md-button>
    </h1>
</md-toolbar>
 
  <md-content style="background-color: #E7E7E7; max-width: 800px; margin: 0 auto; height: 100%; overflow: hidden; "   >
 
    <md-list  >
      <md-item ng-repeat="item in todos">
        <md-whiteframe   ng-show="item.visible" ng-class="{'md-whiteframe-z2': item.check, check:item.check }" class="sample-show-hide md-whiteframe-z1"  layout layout-align="center center" style="margin: 10px; padding: 0px;">
        <md-item-content style="padding: 5px; margin: 0;" ng-mouseenter="item.btns=true" ng-mouseleave="item.btns=false">
         
		<div class="md-tile-left">

               <div style="width:56px; height: 56px; padding:0; margin-right: 10px;" ng-mouseenter="doSomething(item)" ng-mouseleave="doSomethingElse(item)" >
			  
			   <div ng-class="{'active-checkbox': (item.show||oneSelected)}" 
			   ng-style="{'background-color':'rgb({{item.color.red}},{{item.color.green}},{{item.color.blue}})'}" class="left-box" > 
				   <md-checkbox style="margin: 0;  position: relative; top: 15px; left: 19px; "  ng-show="item.show||oneSelected" ng-show="item.show||oneSelected" ng-change="oneCheck(item)" ng-model="item.check">
						
				   </md-checkbox>
			   </div>
			</div>

          </div>
          <div class="md-tile-content" style="width: 600px; flex: auto;  -ms-flex: auto; max-width:600px; ">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <p>
              {{item.notes}}
            </p>
         </div>
		<div class="md-tile-right" style="width:56px; height: 56px;">
				<md-button ng-show="item.btns&&(!oneSelected)" style="width:56px; height: 56px;" ng-click="remove(item)">
							<md-icon icon="img/icons/ic_done_24px.svg">
		        			</md-icon>
		        			<md-tooltip >
				             В архив
				          </md-tooltip>
						</md-button>
		</div>
 
        </md-item-content>
      
        </md-whiteframe>
      </md-item>

    </md-list>

  </md-content>

    <div style="height:56px; width: 56px; position: fixed; bottom: 55px; right: 55px; ">
	    <md-button  class="md-fab md-primary" md-theme="red" aria-label="Добавить" ng-click="showAlert($event)">
	    	<md-tooltip >
          	 Добавить  
       		</md-tooltip>
	      	<md-icon icon="img/icons/ic_add_24px.svg" style="width: 24px; height: 24px;" ></md-icon>
	    </md-button>
 	</div>
</div>