@charset "utf-8";
/* CSS Document */

body {
	color: #339;
}

table {
	border-spacing: 0;	
}

table.main td {
	background-color:#AAAAAA;
	border: 2px solid #E2E2E2;	
}


table.inner td {
	border: none;	
}

table.container {
	background-color:#E2E2E2;
	border: 10px solid #666;
	padding: 10px;
}

input {
	color: red;
}

::-webkit-input-placeholder {color:red;}
::-moz-placeholder          {color:red;}/* Firefox 19+ */
:-moz-placeholder           {color:red;}/* Firefox 18- */
:-ms-input-placeholder      {color:red;}

.btn {
	border-radius: 3px;
	border: 2px solid red;
	color: #339;
}