/*
* Created by Igor Nesterenya
* september 2014
* igor.nesterenya@gmail.com
*/

.most {
	background: #8595f6 url(images/back.png);
	font-family: arial;
}

header {
	width: 985px;
	margin: 0 auto;
	background: white;
	height: 150px;
	overflow: hidden;
}

header .col1 {
	float: left;
	margin-right: 14px;
	width: 78px;
	height: 100%;
}

header .col2 {
	float: left;
	
	margin-right: 14px;
	width: 534px;
	height: 100%;
}

header h1 {
	font-size: 30px;
	
	color: #1189ec;
	margin-bottom: 10px;
}

.bold {
	font-weight: bold; 
}

.head-link {
	color: #1f1f1f;
	margin: 0 0 0 90px;
	right: 0;
	display: inline-block;
	font-align: center;
	line-height: 24px;
	
}

header .head-link a {
	border-bottom: 1px dashed #1f1f1f;
	text-decoration: none;
}

.head-link a:hover {
	border-bottom: none;
}

.head-link img {
	
	vertical-align: middle;
}

header h2 {
	color: #1f1f1f;
	font-size: 20px;
	width: 300px;
}

header .col3 {
	float: left;
	
	width: 257px;
	height: 100%;
}

header .block {
	
	margin: 38px 50px 34px 38px;
	height: 80px;
	
	/*width: 90%;*/
	
}

nav.top{
	background: #8595f6 url(images/nav.png) no-repeat;
	width: 100%;
	margin: 0 auto;
	height: 50px;
	list-style: none;
	text-align: center;
	/*line-height: 50px;*/
}

nav.top ul {
	display: inline-block;
	zoom: 1;
	
}

nav.top ul li {
	float: left;
	display: inline;
	padding-right: 54px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}

nav.top a {
	color: white;
	text-decoration: none;
	display: block;
}

nav.top a:hover {
	color: #cacaca;
	text-decoration: none;
	display: block;
	
}

.main {
	background: white;
	padding-top: 40px;
	overflow: hidden;
	height: 100%;
}

.wrap {
	width: 985px;
	margin: 0 auto;
	padding-bottom: 50px;
	background: white;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 30px 7px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 30px 7px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 30px 7px rgba(50, 50, 50, 1);
}

.bg {
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, #4FC9F2),
		color-stop(0.56, transparent)
	);
	overflow: hidden;
	background-image: -o-linear-gradient(right bottom, #4FC9F2 0%, transparent 56%) ;
	background-image: -moz-linear-gradient(right bottom, #4FC9F2 0%, transparent 56%) ;
	background-image: -webkit-linear-gradient(right bottom, #4FC9F2 0%, transparent 56%);
	background-image: -ms-linear-gradient(right bottom, #4FC9F2 0%, transparent 56%) ;
	background-image: linear-gradient(to right bottom, #4FC9F2 0%, transparent 56%) ;
	background-repeat: no-repeat;
}

.img {
	width: 100%;
	height: 265px;
}

.content {
	margin-left: 40px;
	float: left;
	height: 100%;
	overflow: hidden;
	width: 600px;
}

footer {
	color: white;
	padding-top: 40px;
	width: 100%;
	width: 985px;
	margin: 0 auto;
	height: 200px;
}

footer p {
	margin-bottom: 15px;
}

footer .col1 {
	width: 25%;
	float: left;
	margin-right: 1%;
}

footer .col2 {
	float: left;
	width: 49%;
	margin-right: 1%;
}

footer .col3 {
	text-align: right;
	float: left;
	width: 24%;
}

footer .head-link a {
	color: white;
	border-bottom: 1px dashed white;
	text-decoration: none;
}

footer .col2 a:hover {
	color: #BBBBBB;
}

footer h1 {
	font-size: 28px;
	margin-bottom: 10px;
}

.contacts {
	padding-top: 10px;
}

.contacts p {
	margin: 0 0;
}

.contacts a{
	text-decoration: none;
	color: white;
}	

.article {
	margin-top: 40px;
}

.article h1 {
	color: #487488;
	font-size: 25px;
	
}

.text {
	padding-top: 30px;
	color: #5c5c5c;
}

footer a {
	color: white;
	text-decoration: none;
}

footer ul li:first-of-type {
	font-weight: bold;
	margin-bottom: 10px;
}

.data {
	padding: 0 10px;
	float: left;
}
.wash-bar {
	margin-top: 40px;
	height: 250px;
	
}
.post {
	float: left;
	width: 180px;
	height: 250px;
	border: 1px solid gray;
	border-radius: 3px;
	margin-right: 26px;
}

.post h2 {
	color: #00566a;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.post .img {
	width: 165px;
	height: 120px;
	margin: 7px auto;
}

.post:hover {
	width: 176px;
	height: 246px;
	border: 3px solid #9ef29e;
}
.end {
	margin: 0;
}

.order-button {
	
	margin: 10px auto 0 auto;
	width: 130px;
	height: 23px;
	display: block;
	padding-top: 7px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	
	color: white;
	background: #ce5e73; /* Old browsers */
	background: -moz-linear-gradient(top,  #ce5e73 0%, #5e5e5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce5e73), color-stop(100%,#5e5e5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ce5e73 0%,#5e5e5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ce5e73 0%,#5e5e5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ce5e73 0%,#5e5e5e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ce5e73 0%,#5e5e5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce5e73', endColorstr='#5e5e5e',GradientType=0 ); /* IE6-9 */
}

.cost {
	margin-top: 10px;
	color: #db4b4b;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.left-nav {
	margin: 0 0 0 40px;
	float: left;
	overflow: hidden;
}

.left-nav a {
	color: #464444;
	text-decoration: none;
}

.left-nav a:hover{
	color: #747373;
	text-decoration: none;
}

.left-top-nav  {
	padding: 40px 10px 30px 10px;
	border-radius: 0 10px 10px 0;
	border: 2px solid #d6d6d6;
	background-color: #e0f5ff;
	width: 220px;
	height: 195px;
	margin-bottom: 30px;
}

.left-top-nav  ul li{
	background: url(images/marker.png) no-repeat left center;
	height: 23px;
	margin-bottom: 15px;
	padding-left: 30px;
	color: 717171;
	
}

.left-mid-nav {
	margin-bottom: 30px;
}

.left-mid-nav ul li{
	background: url(images/marker-arrow.png) no-repeat left center;
	height: 30px;
	margin-bottom: 15px;
	padding-left: 30px;
	color: 717171;
	width: 220px;
}

.left-mid-nav h2 {
	color: #53a6cc;
	font-weight: lighter;
	font-size: 20px;
	margin-bottom: 20px;
}


.left-nav .left-down {
	margin-left: 30px;
	margin-bottom: 20px;
}

.left-nav h3{
	font-size: 14px;
	margin-bottom: 8px;
}

.left-nav .left-down-links {
	margin-left: 30px;
}


.left-down-links ul li {
	display: inline-block;
	padding-right: 3px;
	
}