/*
* Created by Igor Nesterenya
* september 2014
* igor.nesterenya@gmail.com
*/
header nav {
	display: none;
}

.no-middle {
	display: none;
}

.container {
	display: block;
}

#wrapper {
	position: relative;
	overflow: hidden;
}
/*--------------*/
.main {
	background-size: auto auto;
	height: 500px;
}

.main h1 {
	font-size: 4em; /*64/16*/
}

.main h2 {
	font-size: 2.25em;
}

.main a {
	text-transform: uppercase;
}

.position {
	position: relative;
}
/*-------------*/
.paragraphs {
	height: auto;
}
.paragraphs .paragraph {
	padding: 0 0 2% 0;
	width: 100%;
}

.paragraph h2 {
	padding: 4% 0;
	font-size: 1.5em;
}
/*---------------*/
.posts h2 {
	font-size: 1.5em;
}

.posts {
	height: auto;	
}

.image {
	width: 70%;
	margin: 0 auto;
}

.posts .post figcaption {
	text-align: center;
}

.posts .post {
	padding: 0 0 2% 0;
	width: 100%;
	float: none;
}
/*---------------*/
footer ul {
	display: none;
}

footer ul:last-of-type {
	display: block;
}

footer h2 {
	font-size: 1.5em;
}
/*------------ABOUT US----------------*/
.info {
	height: 80px;
}

.info h2 {
	font-size: 1.75em;/*28*/
	line-height: 80px;
}

.main-about p:last-of-type {
	display: none;
}

.main-about h2 {
	padding-top: 20px;
	font-size: 1.75em;/*28*/
}

.about-additions {
	height: auto;
}

.about-addition h2 {
	font-size: 1.75em;/*28*/
}

.about-additions .about-addition {
	width: 100%;
	float: none;
	padding-left: 0;
}


/*------------------SIDEBAR-----------------*/
.container {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    -webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;
}

.container.open-sidebar {
    right: 78%;
}

#sidebar {
	top: -50px;
    position: absolute;
    right: -78%;
    background: #16a085;
    width: 78%;
    height: 100%;
    box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
    background-color: #386ae8;
}

#sidebar ul li a {
    padding: 15px 10%;
    font-weight: 100;
    color: white;
    display: block;
	opacity: 0.6;
	-moz-opacity: 0.6;
    border-bottom: 1px solid white;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}

#sidebar ul li:hover a {
    background: #168485;
}

#sidebar .current {
	opacity: 1;
	-moz-opacity: 1;
}

#sidebar ul li:hover a {
    background: #37aef9;
}

 #sidebar-toggle {
    background: #37aef9;
    display: block;
    position: absolute;
    padding: 14px 10%;
    right: 0;
    top: -60px;
}
 #sidebar-toggle .bar{
    display: block;
    width: 25px;
    margin-bottom: 5px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;   
}

#sidebar-toggle .bar:last-child{
     margin-bottom: 5px;   
}
#sidebar-toggle .bar:first-child{
     margin-top: 5px;   
}

.no-middle {
	display: none;
}