@charset "utf-8";
/* CSS Document */
body {
	color: #369;
}

.wrap {
	margin: 0 auto;
	width: 800px;	
}

.nav {
	height:40px;	
	border: 10px solid #666;
}

.cont {
	height: 500px;	
	border: 10px solid #666;
	background-color:#CCC;
	padding: 10px;
}

.nav .menu-item {
	border-right: 10px solid #666;
	float: left;
	height: 40px;
	width: 148px;
	background-color:#CCC;
	text-align:center;
}

.nav .menu-item:hover {
	color: white;
	background-color:#09C;
}

.nav .menu-item.active {
	color: #009;
	font-weight:bold;	
}

.nav .menu-item.end {
	border-right: none;
}

h1 {
	color: #C00;	
}

.menu-item a {
	line-height:40px;
	vertical-align:central;
	text-decoration: none;
}

.menu-item:hover a {
	color: white;
}

h3 {
	color: #09C;	
}

hr {
	border: 2px solid #09C;
	border-radius: 4px; 
}

.clear {
	clear: both;
	border: none;
}

.cont .big-col {
	float: left;
	width: 570px;	
	height: 300px;
	margin-right: 10px;
}

.cont .small-col {
	width: 180px;	
	height: 300px;
	float: left;
}

img.min {
	margin: 3px;
}

.row {
	margin-bottom: 10px;
	height: 40px;
	line-height: 40px;
	vertical-align: central;
	font-weight:bold;
}

.row .col1 {
	float:left;
	margin:5px;
	background-color:#666;
	height: 100%;
	width: 40%;
}

.row .col2 {
	float:left;
	margin:5px;
	background-color:#666;
	height: 100%;
	width: 57%;
}

.dark {
	background-color:#666;
	margin-bottom: 10px;
}