@font-face {
	font-family: OpenSang;
	src: url(fonts/OpenSans-Regular.ttf);
	
}

* {
	font-family: OpenSang;
	
}
/*
body {
    background-color: #F2F2F2;
    font-weight: 400;
    font-size: 18 px;
}*/

	footer {
		margin: 50px;
		text-align: right;
	}
	
	code {
		font-size: 10;
	}

.cover-image {
    width: 20%;
    display: inline-block;
}

.middle-content {
    width: 1000px;
    text-align: center;
}

.text-right {
    text-align: right;
    padding-left: 70%;
}

.quote {
    font-style: italic;
}

.big-image {
	width: 100%;
}

.normal-image {
	width: 50%;
}




.wrap {
    width: 1024px;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px;
    
    -webkit-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
}