body {
			margin: 0;
			padding: 0;
			border:0;
			font-family: arial;

			color: #6c6c6c;
			font-size: 1.429em;
			font-weight: 400;
			line-height: 1.8
		}

		body a {
			text-decoration: none;
		} a:hover{
			text-decoration: underline;
		}

		.wrapper {
			width: 1024px;
			margin: 0 auto 0 auto;
		}

		.project {
			border: 1px solid #ccc;
			
			border-radius: 5px;
		}

		#tagbox {
			position: fixed;
			right: 10px;
			top: 10px;
			background-color: #d6d6d6;
			padding: 2px;
			border-radius: 10px;
		}

		.m-hide {
			display: none;
		}

		.m-show {
			display: true;
		}

		.project {
			overflow: auto;
			margin: 20px 0 20px 0;
		}
		.project .header {
			background-color: #ddd;
			padding: 0 20px 0 20px;
		}

		.project .img {
			position: relative;
			width: 47%;
 			overflow: hidden;
			float: left;
			padding: 1%;
		}

		.project .cont {
			position: relative;
			width: 50%;
 
			float: right;
		}

		.project .clean {
			 
			clean: both;
		}

		.project h3 {
			color: #666;
			font-size: 1.1em;
			font-weight: 600;
			line-height: 0.8;
		}

		.project p {
			font-size: 0.8em;
			font-weight: 400;
			line-height: 1.2;
		}