/* CSS Document */
body {
	background-color:white;
	margin: 0;
	padding: 0;
	border: 0;
	font-family:"Courier New", Courier, monospace;
	font-size:small;
	scrollbar-base-color: red;
}

/* Описание основного контейнера всей страницы /для всех страницы/ */
.big-content {
	width: 780px;
	height: 590px;
	margin: 0 auto;
}

/* Описание верхнего контейнера с выбором языка /для всейх страницы/ */
.spacer-top {
	width:780px;
	height:18px;
	text-align:right;
	vertical-align:bottom;
	color:#CCCCCC;
	font-size:12px;
}

/* Оформление ссылки для верхнего контейнера с выбором языка /для всех страницы/ */
.spacer-top a {
	color:black;
	text-decoration:underline;
}

/*-- Оформление ссылки для верхнего контейнера с выбором языка /для всех страницы/ */
.spacerTop a:hover {
	color:#333333;
	text-decoration:none;
}

/* Оформление активного языка для верхнего контейнера с выбором языка /для всех страницы/ */
.lg {
	font-weight:bold;
	color:#666;
}

/* Описание верхнего контейнера с Flash-ролика /для всех страницы/ */
.top-content {
	width:780px;
	height:110px;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

iframe {
	margin: 0;
	border: 0;
	scrollbar-3dlight-color: black;
	scrollbar-arrow-color: white; 
	scrollbar-darkshadow-color: white; 
	scrollbar-face-color: #cccccc; 
	scrollbar-highlight-color: black; 
	scrollbar-shadow-color: white; 
	scrollbar-track-color: gray;
}

/* Описание срединного контейнера /для всех страницы/ */
.middle-content {
	width:780px;
	height:390px;
	
	overflow: hidden;
}

/* Описание срединной навигации /для главной страницы/ */
.middle-content .mid-nav {
	text-align:center;
	height:22px;
	margin-top:170px;
	border: 0px solid #000000;
}

/* Оформление срединной навигации /для главной страницы/ */
.middle-content .mid-nav a {
	text-decoration: none;
	margin-right: 40px;
	color:black;
	font-size:20px;
}
/* Оформление срединной навигации /для главной страницы/ */
.middle-content .mid-nav a:hover {
	color:#333333;
	font-size:20px;
}


/* Описание контейнера с нижней левой навигацией /для всех страниц/ */
.middle-content-bott {
	width:360px;
	height:10px;
	margin-top:180px;
	float:left;
	display:table;
	color:#ccc;
	font-size:16px;
}

.bott-nav {
	
	font-size: 16px;
	width: 100%;
	height: 20px;
	border-bottom: 1px #000000 solid;
}

/* Описание контейнера с нижней правой навигацией /для всех страниц/ */
.bott-right {
	float: left;
	width:410px;
	height: 20px;
	text-align: right;	
}

.bott-left {
	float: left;
	width: 370px;
	height: 100%;
	vertical-align: middle;
	text-align:left;
	font-size:16px;
	line-height: 20px;
}


.bott-nav a {

	margin: 0 10px;

	color: black;
	text-decoration: none;
	line-height: 20px;
}

.bott-nav a:hover {
	color:#333;
}

.bott-left a {
	color:#555;
	margin: 0 2px;
}

.footer {
	height: 90px;
	width: 100%;
}

.footer .logo{
	width: 20%;
	height: 100%;
	float: left;
}

.footer .copy {
	width: 80%;
	height: 100%;
	float: right;
	color: red;
	text-align: right;
}
